.basemapGallery {
  width: 100%;
  min-height: 100%;
}


.basemapsPanel {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.basemapsPanel calcite-tabs {
  flex: 1; /* Takes remaining space */
  overflow: auto;
}