.panelContent {
  background-color: var(
    --calcite-panel-background-color,
    var(--calcite-color-foreground-1)
  );
  padding: var(--calcite-internal-panel-default-space);
  --calcite-font-size--1: 16px;
}