#root,
html,
body {
  height: 100%;
  margin: 0;
  --calcite-shell-panel-min-width: 365px;
  --calcite-shell-panel-width: 365px;
  --calcite-shell-panel-max-width: 50vw;
  --calcite-z-index-header: unset;
}

calcite-shell-panel calcite-panel {
  max-height: calc(100vh - 65px);
  --calcite-tab-content-space-y: 0;
  
}























